<%- include("../partials/header") %>
<h1>user Profile</h1>
<div class="row">
<div class="col-md-4">
    
    <%= user.firstname+" "+ user.lastname %>
    <div class="card">
        <img src="<%= user.avatar %>" alt="user profile image" srcset="">
        <div><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
    </div>

</div>
<div class="col-md-8">
    <% campgrounds.forEach(function(campground){%>
        <div class="col-lg-4 col-sm-6">

            <div class="card ">
                <img class="card-img-top" src="<%=campground.image%>" alt=" " style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text"><%= campground.location %></p>
                    <p class="card-text"><%= campground.sublocation %></p>

                    
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-success btn-sm">View
                        info</a>
                </div>
            </div>


        </div>

       
        <%});%>

</div>

</div>






<%- include("../partials/footer") %>